{{#> public}}
  {{#*inline "content"}}
    <div class="row">
        <h4 class="fw-bold">BFF Band</h4>
        <h4 class="fw-bold">Play this week:</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Composer</th>
                    <th scope="col">Singer</th>
                    <th scope="col">Ref-Link</th>
                    <th scope="col">Lyric</th>
                    <th scope="col">Tone</th>
                    <th scope="col">MuseScore</th>
                    <th scope="col">Band Videos</th>              
                </tr>
            </thead>
            <tbody>
                {{#each viewData.songs}}
                    <tr>
                        <th scope="row">{{position}}</th>
                        <td>{{name}}</td>
                        <td>{{composer}}</td>
                        <td>{{singer}}</td>
                        <td><a target="_blank" href="{{ref_link}}">ref-link</a></td>
                        <td><a target="_blank" href="/uploads/songs/{{normalize_name}}/{{lyric_url}}">lyric</a></td>
                        
                        <td>
                            {{#each this.song_attibutes}}
                                <a target="_blank" href="/uploads/songs/{{../normalize_name}}/{{band_sheet}}">{{tone}}</a> <i>  </i>
                            {{/each}}
                        </td>
                        <td><a target="_blank" href="/uploads/songs/{{normalize_name}}/{{musescore_sheet}}">musescore-sheet</a></td>

                        <td>
                            {{#each this.videos}}
                                <a target="_blank" href="/uploads/songs/{{../normalize_name}}/{{video}}">view</a> |
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
                
                
            </tbody>
        </table>
    </div>
  {{/inline}}
{{/public}}